# Application
NODE_ENV=development
PORT=4000
APP_URL=http://localhost:4000

# Database
DATABASE_URL=postgresql://oneerp:StrongPasswordHere2@157.245.159.164:5432/oneerp

# DB_HOST=localhost
# DB_PORT=5432
# DB_USERNAME=postgres
# DB_PASSWORD=Password@2
# DB_DATABASE=nest-auth

# JWT
JWT_ACCESS_SECRET=your-super-secret-jwt-access-key-change-this-in-production
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_SECRET=your-super-secret-jwt-refresh-key-change-this-in-production
JWT_REFRESH_EXPIRATION=7d

# Email
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USER=654039864e7cf7
MAIL_PASSWORD=4cbf8d1c758a37
MAIL_FROM=noreply@nestauth.com
MAIL_FROM_NAME=NestAuth

# OTP & Token
OTP_EXPIRATION_MINUTES=10
RESET_TOKEN_EXPIRATION_HOURS=1

# REDIS_HOST='redis-12091.crce194.ap-seast-1-1.ec2.cloud.redislabs.com'
# REDIS_PORT=12091
# REDIS_USERNAME=default
# REDIS_PASSWORD=PuPpvKqF2uIRHRU9N4i2pyjdyjfmTTwv
